@page
@model WebApplication1.Pages.Book.CreateBookModel
@{
}

<p>
    Create a book
</p>
@if (Model.errorMessage.Length > 0)
{
    <div id="error-div">
        <br><div class="alert-warning"> @Model.errorMessage </div>  <br />
        <button type="button" class="btn-close" data-dismiss="alert"
                onclick="
    const element = document.getElementById('error-div');
                element.remove();
"></button>
    </div>
}

@if (Model.successMessage.Length > 0)
{
    <div id="success-div">
        <br><div class="alert-success"> @Model.successMessage </div>  <br />
        <button type="button" class="btn-close"
                onclick="
    const element = document.getElementById('success-div');
                element.remove();
"></button>
    </div>
}
<form method="post">
    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Book Id</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="id" value="" required />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Book name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="name" value="" required />
        </div>
    </div>


    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Book category</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="category" value="" required />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Book author</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="author" value="" required />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Book price</label>
        <div class="col-sm-4">
            <input type="number" class="form-control" name="price" value="" required min="100" max="200" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Book publication</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" name="publication" value="" required />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Book publish date</label>
        <div class="col-sm-4">
            <input type="date" class="form-control" name="publish_date" value="" required />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-1 col-form-label">Book edition</label>
        <div class="col-sm-4">
            <input type="number" class="form-control" name="book_edition" value="" required />
        </div>
    </div>

    <div>
        <button type="submit" class="btn-primary">Submit</button>
    </div>


    <div>
        <a class="btn-primary btn" href="/">cancel</a>
    </div>


</form>